.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items:center;
    justify-content:right;
    padding-right: 30px;
}
.buttn{
font-size: 14px;
background-color: #FF5A5F;
color: #FFFFFF;
height: 30px;
width: 8%;
border-radius: 4px;
position:absolute;
vertical-align:middle;
border: 0;
opacity: 1;
}

.buttn :hover {
    opacity: 1
}